In [514]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix
from sklearn import datasets
from sklearn.metrics import accuracy_score

In [515]:
attrdata=pd.read_excel(r"C:\Users\KIIT\Downloads\Table 1 data.xlsx")

In [516]:
attrdata.head()

,Unnamed: 0,Table 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17
0,Location,Emp. Group,Function,Gender,Tenure,Tenure Grp.,Experience (YY.MM),Marital Status,Age in YY.,Hiring Source,Promoted/Non Promoted,Job Role Match,Stay/Left,Commuting Problems,Tools provided for the job,Job Security,Company Benefits,Career Development
1,Pune,B2,Operation,Male,0,< =1,6.08,Single,27.12,Direct,Non Promoted,Yes,Left,5,7,5,4,9
2,Noida,B7,Support,Male,0,< =1,13,Marr.,38.08,Direct,Promoted,No,Stay,8,3,4,6,7
3,Bangalore,B3,Operation,Male,0.01,< =1,16.05,Marr.,36.04,Direct,Promoted,Yes,Stay,7,8,7,4,6
4,Noida,B2,Operation,Male,0.01,< =1,6.06,Marr.,32.07,Direct,Promoted,Yes,Stay,4,6,7,9,5

In [517]:
attrdata.columns=attrdata.loc[0]

In [518]:
attrdata.columns

Index(['Location', 'Emp. Group', 'Function', 'Gender ', 'Tenure',
       'Tenure Grp.', 'Experience (YY.MM)', 'Marital Status', 'Age in YY.',
       'Hiring Source', 'Promoted/Non Promoted', 'Job Role Match', 'Stay/Left',
       'Commuting Problems', 'Tools provided for the job', 'Job Security',
       'Company Benefits', 'Career Development'],
      dtype='object', name=0)

In [519]:
attrdata.head()

,Location,Emp. Group,Function,Gender,Tenure,Tenure Grp.,Experience (YY.MM),Marital Status,Age in YY.,Hiring Source,Promoted/Non Promoted,Job Role Match,Stay/Left,Commuting Problems,Tools provided for the job,Job Security,Company Benefits,Career Development
0,Location,Emp. Group,Function,Gender,Tenure,Tenure Grp.,Experience (YY.MM),Marital Status,Age in YY.,Hiring Source,Promoted/Non Promoted,Job Role Match,Stay/Left,Commuting Problems,Tools provided for the job,Job Security,Company Benefits,Career Development
1,Pune,B2,Operation,Male,0,< =1,6.08,Single,27.12,Direct,Non Promoted,Yes,Left,5,7,5,4,9
2,Noida,B7,Support,Male,0,< =1,13,Marr.,38.08,Direct,Promoted,No,Stay,8,3,4,6,7
3,Bangalore,B3,Operation,Male,0.01,< =1,16.05,Marr.,36.04,Direct,Promoted,Yes,Stay,7,8,7,4,6
4,Noida,B2,Operation,Male,0.01,< =1,6.06,Marr.,32.07,Direct,Promoted,Yes,Stay,4,6,7,9,5

In [520]:
attrdata.drop(0,inplace=True)

In [521]:
attrdata.isnull().sum()

0
Location                      1
Emp. Group                    0
Function                      0
Gender                        0
Tenure                        0
Tenure Grp.                   0
Experience (YY.MM)            4
Marital Status                0
Age in YY.                    0
Hiring Source                 0
Promoted/Non Promoted         0
Job Role Match                2
Stay/Left                     1
Commuting Problems            0
Tools provided for the job    0
Job Security                  0
Company Benefits              0
Career Development            0
dtype: int64

In [522]:
attrdata.dropna(axis=0,inplace=True)

In [523]:
gen=pd.get_dummies(attrdata["Function"])

In [524]:
hr=pd.get_dummies(attrdata["Hiring Source"])

In [525]:
Ms=pd.get_dummies(attrdata["Marital Status"])

In [526]:
pr=pd.get_dummies(attrdata["Promoted/Non Promoted"])

In [527]:
emp=pd.get_dummies(attrdata["Emp. Group"])

In [528]:
sl=pd.get_dummies(attrdata["Stay/Left"])

In [529]:
jrl=pd.get_dummies(attrdata["Job Role Match"])

In [530]:
tengrp=pd.get_dummies(attrdata["Tenure Grp."])

In [531]:
loc=pd.get_dummies(attrdata["Location"])

In [532]:
dataset=pd.concat([attrdata,gen,hr,loc,Ms,pr,sl,emp,jrl,tengrp],axis=1)

In [533]:
dataset.drop(["Marital Status","Promoted/Non Promoted","Stay/Left","Function","Emp. Group","Job Role Match","Location","Hiring Source","Left","No","Non Promoted","> 1 & < =3"],axis=1,inplace=True)

In [534]:
dataset.columns

Index(['Gender ', 'Tenure', 'Tenure Grp.', 'Experience (YY.MM)', 'Age in YY.',
       'Commuting Problems', 'Tools provided for the job', 'Job Security',
       'Company Benefits', 'Career Development', 'Operation', 'Sales',
       'Support', 'Agency', 'Direct', 'Employee Referral', 'Bangalore',
       'Chennai', 'Gurgaon', 'Hyderabad', 'Kolkata', 'Lucknow', 'Madurai',
       'Mumbai', 'Nagpur', 'Noida', 'Pune', 'Vijayawada', 'Div.', 'Marr.',
       'NTBD', 'Sep.', 'Single', 'Promoted', 'Stay', 'B0', 'B1', 'B2', 'B3',
       'B4', 'B5', 'B6', 'B7', 'Yes', '< =1'],
      dtype='object')

In [535]:
dataset.corr()["Stay"]

Operation            0.020490
Sales                0.001653
Support             -0.023381
Agency              -0.067139
Direct              -0.020832
Employee Referral    0.114775
Bangalore           -0.025569
Chennai              0.017651
Gurgaon              0.041652
Hyderabad            0.000769
Kolkata              0.024021
Lucknow              0.028754
Madurai              0.038136
Mumbai               0.012743
Nagpur              -0.061607
Noida               -0.000480
Pune                -0.009330
Vijayawada          -0.027755
Div.                 0.033989
Marr.                0.244743
NTBD                -0.015988
Sep.                -0.015988
Single              -0.244257
Promoted            -0.130370
Stay                 1.000000
B0                  -0.032085
B1                  -0.177028
B2                   0.133742
B3                   0.067170
B4                   0.063767
B5                   0.048122
B6                   0.024021
B7                   0.033989
Yes                  0.676486
< =1                -0.028459
Name: Stay, dtype: float64

In [536]:
dataset.drop(["Gender ","Tenure Grp."],inplace=True,axis=1)
dataset.columns

Index(['Tenure', 'Experience (YY.MM)', 'Age in YY.', 'Commuting Problems',
       'Tools provided for the job', 'Job Security', 'Company Benefits',
       'Career Development', 'Operation', 'Sales', 'Support', 'Agency',
       'Direct', 'Employee Referral', 'Bangalore', 'Chennai', 'Gurgaon',
       'Hyderabad', 'Kolkata', 'Lucknow', 'Madurai', 'Mumbai', 'Nagpur',
       'Noida', 'Pune', 'Vijayawada', 'Div.', 'Marr.', 'NTBD', 'Sep.',
       'Single', 'Promoted', 'Stay', 'B0', 'B1', 'B2', 'B3', 'B4', 'B5', 'B6',
       'B7', 'Yes', '< =1'],
      dtype='object')

In [537]:
y=dataset["Stay"]

In [538]:
X=dataset.drop("Stay",axis=1)

In [539]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=4)

In [540]:
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.naive_bayes import GaussianNB

In [541]:
lr=LogisticRegression()
dt=DecisionTreeClassifier()
rm=RandomForestClassifier()
supvm=SVC()
knn=KNeighborsClassifier(n_neighbors=5)
gnb=GaussianNB()

In [543]:
for a,b in zip([lr,dt,rm,supvm,knn,gnb],["Logistic Regression","Decision Tree","Random Forest","Support Vector Machine","K Nearest Neighbours","Naive Bayes"]):
    a.fit(X_train,y_train)
    prediction=a.predict(X_train)
    y_pred=a.predict(X_test)
    score1=accuracy_score(y_train,prediction)
    score=accuracy_score(y_test,y_pred)
    msg1="[%s] training data accuracy is : %f" % (b,score1)
    msg2="[%s] test data accuracy is : %f" % (b,score)
    print(msg1)
    print(msg2)

C:\Users\KIIT\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\KIIT\Anaconda3\lib\site-packages\sklearn\svm\base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

[Logistic Regression] training data accuracy is : 0.900699
[Logistic Regression] test data accuracy is : 0.871508
[Decision Tree] training data accuracy is : 1.000000
[Decision Tree] test data accuracy is : 0.843575
[Random Forest] training data accuracy is : 0.990210
[Random Forest] test data accuracy is : 0.882682
[Support Vector Machine] training data accuracy is : 0.911888
[Support Vector Machine] test data accuracy is : 0.860335
[K Nearest Neighbours] training data accuracy is : 0.829371
[K Nearest Neighbours] test data accuracy is : 0.659218
[Naive Bayes] training data accuracy is : 0.352448
[Naive Bayes] test data accuracy is : 0.407821